@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

section {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

section .text {
    position: relative;
    text-align: center;
    color: #00f6fe;
    margin: 40px;
    max-width: 650px;
    padding: 20px;
}

section .text span {
    position: relative;
    display: inline-block;
}